{% extends "base.html.twig" %}
{% block title %}Produit{% endblock %}
{% block container %}
<div class="col-lg-9">

    <div class="card mt-4">
        <img class="card-img-top img-fluid" src="{{ asset('assets/images/' ~ car.image) }}" alt="Photo de {{ car.type }}">
        <div class="card-body">
            <h3 class="card-title">{{ car.type }}</h3>
            <h4>${{ car.price }}</h4>
            <h6>{{ car.nbSeats }} sièges</h6>
            <h6>Cet fiche d'article a été vue {{ car.nbviews }} fois</h6>
            <p class="card-text">{{ car.description }}</p>
            <a class="btn btn-primary" href="#" role="button">Acheter MAINTENANT</a>
        </div>
    </div>
{% endblock %}